.page {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    line-height: 20px;
    margin: 0 auto;
    position: relative;
}

body {
    background-color: #000;
}

@media screen and (max-width: 320px) {
    .page {
        margin: 0 auto;
    }
}